#block {
    background: yellow;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 300ms linear;
    -moz-transition: height 300ms linear;
    -o-transition: height 300ms linear;
    transition: height 300ms linear;
}

label {
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked + #block {
    height: 40px;
}

.time {
    width: 240px;
}

input {
	padding: 6px;
    box-sizing: border-box;
}

/*AM / PM*/
.timeOfDay {
    color: #767676;

    padding: 6px;
    box-sizing: border-box;
    background-color: #ffffff;

    margin: 0px;
    border: 1px solid #7A7A7A;
    cursor: pointer;

    /* Make non-selectable */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet */
    -o-user-select: none;
    user-select: none;
}
.timeOfDay:hover{
    color: #111;
}

select {
    margin: 5px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/img/dropdown.svg) 96% / 15% no-repeat #eee;
}

input {
    width: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*/ ---------------- /*/
/*| Checkboxes below |*/
/*/ ---------------- /*/

input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 27px;
	height: 22px;
	display: inline-block;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 22px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}

label.css-label {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_2983d659a567302637df5bbf66af6765.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
