@font-face {
	font-family: Adam;
	src: url("../fonts/ADAM.otf") format("opentype");
}
@font-face {
	font-family: CODELight;
	src: url("../fonts/CODE Light.otf") format("opentype");
}

.title{
	/*font-family: 'Secular One', sans-serif;*/
	font-family: CODELight;
	font-weight: bold;
	font-size: 5em;
	padding: 40px;

}
.header {
	font-family: Adam;
}

.body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

.large{
	/*font-family: 'Secular One', sans-serif;*/
	font-family: CODELight;
	font-weight: bold;
	font-size: 4em;
}
