@font-face {
	font-family: Adam;
	src: url("../fonts/ADAM.otf") format("opentype");
}
@font-face {
	font-family: CODELight;
	src: url("../fonts/CODE Light.otf") format("opentype");
}

.white {
	color: rgb(233, 233, 233);
}


h1 {
	/*font-family: 'Secular One', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3em;
	padding: 0;
	margin: 0;

}

.subtitle{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3em;

}

.title{
	/*font-family: 'Secular One', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 5em;

}
.header {
	font-family: 'Varela Round', sans-serif;
}

.big {
	font-size: 2.2em;
}
.medium {
	font-size: 1.7em;
}

.body {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5em;
	word-break: normal;
}

.large{
	/*font-family: 'Secular One', sans-serif;*/
	font-family: CODELight;
	font-weight: bold;
	font-size: 4em;
}

.rego {
	display: block;
    font-family: monospace;
}
