<div ng-controller="LogController">
	<div class="logbook">

		<div class="title">Log book</div>


		<table style="width:100%">

			<tr>
				<td>Date</td>
				<td>Start Time</td>
				<td>Finish Time</td>
				<td>Trip Time</td>
				<td>Total driving time</td>
				<td>Odometer start</td>
				<td>Odometer finish</td>
				<td>Car Reg. No.</td>
				<td>Parking</td>
				<td>Traffic conditions</td>
				<td>Weather</td>
				<td>Local streets</td>
				<td>Main Roads</td>
				<td>Inner City</td>
				<td>Freeway</td>
				<td>Rural Highway</td>
				<td>Gravel</td>
				<td>Light conditions</td>
				<td>Supervisor's license number</td>
			</tr>

			<tr ng-repeat="trip in trips">
				<td>{{ trip.date }}</td>
				<td>{{ trip.startTime }}</td>
				<td>{{ trip.endTime}}</td>
				<td>{{ trip.duration}}</td>
				<td>{{ trip.totalTime}}</td>
				<td>{{ trip.odometerStart}}</td>
				<td>{{ trip.odometerEnd}}</td>
				<td>{{ trip.regNumber }}</td>
				<td><span ng-if="trip.parking"> ✔ </span></td>
				<td><span ng-if="trip.traffic"> ✔ </span></td>
				<td><span ng-if="trip.weather"> ✔ </span></td>
				<td><span ng-if="trip.local"> ✔ </span></td>
				<td><span ng-if="trip.main"> ✔ </span></td>
				<td><span ng-if="trip.innerCity"> ✔ </span></td>
				<td><span ng-if="trip.freeway"> ✔ </span></td>
				<td><span ng-if="trip.ruralHighway"> ✔ </span></td>
				<td><span ng-if="trip.gravel"> ✔ </span></td>
				<td><span ng-if="trip.lightConditions"> ✔ </span></td>
				<td>{{ trip.supervisorsLicense}}</td>
			</tr>

			<tr>
				<td>4/Jan/2016</td>
				<td>5:24 PM</td>
				<td>6:05 PM</td>
				<td>0:41</td>
				<td>73:45</td>
				<td>117238</td>
				<td>117260</td>
				<td>ZUL271</td>
				<td> ✔ </td>
				<td> ✔ </td>
				<td></td>
				<td></td>
				<td></td>
				<td> ✔ </td>
				<td> ✔ </td>
				<td></td>
				<td> ✔ </td>
				<td>Night</td>
				<td>033729409</td>
			</tr>
		</table>
	</div>


</div>
