<div ng-controller="LogController">
	<div class="logbook">

		<div class="title">Log book</div>


		<table style="width:100%">

			<tr>
				<td>Date</td>
				<td>Start Time</td>
				<td>Finish Time</td>
				<td>Trip Time</td>
				<td>Total driving time</td>
				<td>Odometer start</td>
				<td>Odometer finish</td>
				<td>Car Reg. No.</td>
				<td>Parking</td>
				<td>Traffic conditions</td>
				<td>Weather</td>
				<td>Local streets</td>
				<td>Main Roads</td>
				<td>Inner City</td>
				<td>Freeway</td>
				<td>Rural Highway</td>
				<td>Gravel</td>
				<td>Light conditions</td>
				<td>Supervisor's license number</td>
			</tr>

			<tr ng-repeat="trip in trips">
				<td>{{ trip.startTime }}</td>
				<td>{{ trip.startTime }}</td>
				<td>{{ trip.endTime}}</td>
				<td>{{ trip.duration}}</td>
				<td>{{ trip.totalTime}}</td>
				<td>{{ trip.odometer}}</td>
				<td>{{ trip.odometerEnd}}</td>
				<td>{{ trip.registration }}</td>
				<td><span ng-if="trip.parking"> ✔ </span></td>
				<td><span ng-if="trip.traffic"> ✔ </span></td>
				<td><span ng-if="trip.wet"> ✔ </span></td>
				<td><span ng-if="trip.localStreets"> ✔ </span></td>
				<td><span ng-if="trip.mainRoads"> ✔ </span></td>
				<td><span ng-if="trip.innerCity"> ✔ </span></td>
				<td><span ng-if="trip.freeway"> ✔ </span></td>
				<td><span ng-if="trip.ruralHighway"> ✔ </span></td>
				<td><span ng-if="trip.gravel"> ✔ </span></td>
				<td><span ng-if="trip.light"> ✔ </span></td>
				<td>{{ trip.supervisorsLicense}}</td>
			</tr>

		</table>
	</div>


</div>
