<div class="grid" ng-controller="TripController">
	<div class="delicate middleColumn">
		<div class="title">New trip</div>

		<div class="body">
			<b>Great! You're just a few details away from starting.</b>
			<br/>(You can change these details later.)<br/><hr>


			<label>Traffic</label>
			<select ng-model="trip.traffic">
				<option value="light">Light</option>
				<option value="moderate">Moderate</option>
				<option value="heavy">Heavy</option>
			</select><br>

			<label>Light</label>
			<select ng-model="trip.light">
				<option value="day">Day</option>
				<option value="dawn">Dawn/Dusk</option>
				<option value="night">Night</option>
			</select><br><br>


			<input class="css-checkbox" id="checkbox1" type="checkbox" ng-model="trip.parking">
			<label class="css-label" for="checkbox1">Parking</label><br>

			<input class="css-checkbox" id="checkbox2" type="checkbox" ng-model="trip.wet">
			<label class="css-label" for="checkbox2">Wet weather</label><br>

			<input class="css-checkbox" id="checkbox3" type="checkbox" ng-model="trip.localStreets">
			<label class="css-label" for="checkbox3">Local streets</label><br>

			<input class="css-checkbox" id="checkbox4" type="checkbox" ng-model="trip.mainRoads">
			<label class="css-label" for="checkbox4">Main Road</label><br>

			<input class="css-checkbox" id="checkbox5" type="checkbox" ng-model="trip.innerCity">
			<label class="css-label" for="checkbox5">Inner City</label><br>

			<input class="css-checkbox" id="checkbox6" type="checkbox" ng-model="trip.freeway">
			<label class="css-label" for="checkbox6">Freeway</label><br>

			<input class="css-checkbox" id="checkbox7" type="checkbox" ng-model="trip.ruralHighway">
			<label class="css-label" for="checkbox7">Rural Highway</label><br>

			<input class="css-checkbox" id="checkbox8" type="checkbox" ng-model="trip.ruralStreets">
			<label class="css-label" for="checkbox8">Other rural streets</label><br>

			<input class="css-checkbox" id="checkbox9" type="checkbox" ng-model="trip.gravel">
			<label class="css-label" for="checkbox9">Gravel roads</label><br>

			<br><br>

			What is the cars registration? <input type="text" name="Registation" ng-model="trip.registration"><br/>
			Who is the supervising driver? <input type="text" name="Supervisor" ng-model="trip.supervisor"><br/>

			<hr>
			If you haven't yet completed your trip, you can edit these points in later.<br/>
			<br/>

			<input type="checkbox" ng-model="checked" name="chklabl" id="chklabl" class="css-checkbox">
			<label for="chklabl" class="css-label">
				I've completed the trip.
			</label>

			<br/>
			<br/>

			<span ng-show="checked">
				Great work! Just fill in the start and end time below.<br/>

				What was your odometer when you started and ended? <br/>
				<input numberonly ng-model="trip.odometerStart">
				<input numberonly ng-model="trip.odometerEnd"><br><br/>

				What time did your trip start and end? <br/>
				<input time ng-model="trip.startTime" placeholder="Start time (eg. 5:00)">
				<input time ng-model="trip.endTime" placeholder="End time (eg. 5:45)"><br><br/>

			</span>

			<span ng-hide="checked">Just edit this trips details when the trip is complete!<br/>

				What is your odometer currently?<br/>
				<input numberonly ng-model="trip.odometerStart"><br><br/>

				What time are you starting? <br/>
				<input time ng-model="trip.startTime" placeholder="Start time (eg. 5:00)"><br><br/>

			</span>

			<span ng-bind="end"></span><br/>

			<button type="start" ng-click="start()">Go!</button>
			<br>
		</div>
	</div>
</div>
